<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('invitini_home')}}">Invitini</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('adoptini_home')}}">Adoptini</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{{path('contact')}}">Contact</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{path('login')}}">Login</a>
    </li>
  <li class="nav-item">
    <a class="nav-link" href="{{path('signup')}}">Signup</a>
  </li>
</ul>
