<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>
      {% block title %}
        Welcome Bachbouchet
      {% endblock %}
    </title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="shortcut icon" href="images/homeicon.ico" />
    {% block stylesheets %}
      <!-- Template CSS -->
      <link rel="stylesheet" href="assets/css/style-starter.css" />
      <link href="{{ asset('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap') }}" rel="stylesheet" />
      <link href="{{ asset('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap') }}" rel="stylesheet" />
      <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans&display=swap') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body id="home">
    <section class="w3l-header-4 header-sticky">
      <header class="absolute-top">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <h1><a class="navbar-brand" href="index.html"><span class="fa fa-paw mr-2" aria-hidden="true"></span>Bachbouchet</a></h1>
            <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa icon-expand fa-bars"></span>
              <span class="fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
            {% include 'include/menu.html.twig' %}
            </div>
          </nav>
        </div>
      </header>
    </section>
    {% block body %}
      <p>hello</p>
    {% endblock %}

    <section class="w3l-footer-29-main">
      <div class="footer-29 py-5">
        <div class="container py-lg-4">
          <div class="row footer-top-29">
            <div class="col-lg-5 col-md-6 col-sm-12 footer-list-29 footer-1">
              <h2><a href="index.html" class=""><span class="fa fa-paw mr-2" aria-hidden="true"></span>Bachbouchet</a></h2>
              <p>About us ...</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3">
              <h6 class="footer-title-29">Get in Touch</h6>

              <div class="column2">
                <div class="href1">
                  <span>E-mail:</span><a href="mailto:contact@bachbouchet.com">contact@bachbouchet.com</a>
                </div>
                <div class="href2">
                  <span>Phone:</span><a href="tel:+(216)-00 222 222">+(216)-00 222 222</a>
                </div>
                <div>
                  <p class="contact-para">Charguia 1, Tunisie</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4">
            
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-copies text-center">
        <div class="container">
          <p class="copy-footer-29">© 2022 Bachbouchet. All rights reserved</p>
        </div>
      </div>
    </section>
    {% block javascripts %}
      <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script> <!-- Common jquery plugin -->
      <!-- bootstrap working -->
      <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
      <!-- //bootstrap working -->
      <!-- disable body scroll which navbar is in active -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll')
          })
        })
      </script>
      <!-- disable body scroll which navbar is in active -->
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        }
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById('movetop').style.display = 'block'
          } else {
            document.getElementById('movetop').style.display = 'none'
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0
          document.documentElement.scrollTop = 0
        }
      </script>
    {% endblock %}
  </body>
</html>
